.dicas p{
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.5;       /*Controla a altura da linha */
    letter-spacing: 1px;    /*Controla o espaçamento entre os caracteres igualmente */
    word-spacing: 2px;      /*Controla o espaçamento entre as palavras igualmente */
    margin-bottom: 1em;
    padding-bottom: 2%;
    max-width: 75%;
    padding-left: 30%;
    
}